<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ContentToolsAPIBaseEndpoint" value="https://sindiconet.contentools.com/api/v1"/>
    <add key="ContentToolsAPIToken" value="01f8546dd4e9264c39100634794abcb6b3886739"/>
    <add key="ContentToolsAPIEmailAccount" value="andre@sindiconet.com.br"/>
    <add key="ContentToolsAPIProjectId" value="8911"/>
  </appSettings>
</configuration>
